<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Udacious Events</title>
    <meta name="description" content="A community-curated list of conferences around the world.">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">

  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            {% assign main_pages = site.pages | where_exp:"node", "node.title != null" %}
            {% for node in main_pages %}
              {% if page.url == node.url %}
                <li role="presentation" class="active"><a href="{{site.baseurl}}{{node.url}}">{{node.title}}</a></li>
              {% else %}
                <li role="presentation"><a href="{{site.baseurl}}{{node.url}}">{{node.title}}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>
        <h3 class="text-muted">Udacity Events</h3>
      </div>

      {{ content }}


    </div>
  </body>
</html>
